@{
    ViewData["Title"] = "About this coursework";
}
<h2>@ViewData["Title"]</h2>

<p>This web application was created as a part of assignment 2 (CSC348) at Swansea University.</p>

<table>
    <tbody>

        <tr>
            <td class="descriptor">First Name</td>
            <td>Marcin</td>
        </tr>
        <tr>
            <td class="descriptor">Last Name</td class="descriptor">
            <td>Kolber</td>
        </tr>
        <tr>
            <td class="descriptor">Student number</td>
            <td>869527</td>
        </tr>
    </tbody>

</table>